:root {
  --text: #383838;
  --background: #ffffff;
  --primary: #40a8f3;
  --secondary: #cecece;
  --accent: #7bb1c5;
}

body,
html {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
  background: var(--background);
} /* Changed to your background variable */

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff; /* Non-opaque white background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  border: 8px solid #f3f3f3; /* Light circle */
  border-top: 8px solid #3498db; /* Blue circle */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Adjusted Box Shadows to match the color scheme */
.hero,
.feature-item,
.testimonial,
.footer {
  box-shadow: 0px 5px 15px rgba(234, 247, 250, 0.3); /* Using a darker shade of --background color for a subtle effect */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.hero h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.5em;
  margin-bottom: 20px;
}

/* Enhanced Hero Section for Centered Content */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  height: 50vh;
  background: linear-gradient(
    180deg,
    var(--secondary),
    var(--background)
  ); /* Using a linear gradient */
  color: var(--text);
  text-align: center;
  padding: 22px 50px;
  border-radius: 25px;
}

/* Spacer to push the button down */
.spacer {
  height: 15px; /* Adjust this value to control the button's position */
  content: '';
  display: block;
}

/* Adjusted Get Started Button */
.hero .cta-button {
  padding: 12px 45px; /* Slightly reduced padding for a smaller button */
  font-size: 1.1em;
  border-radius: 8px;
  background-color: var(--primary);
  color: var(--background);
  border: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  transition:
    transform 0.2s,
    background-color 0.2s;
  margin-top: 25px;
}

.hero .cta-button:hover {
  background-color: var(--accent);
}

.hero .cta-button:active {
  transform: scale(0.95);
}

.hero .cta-button:focus {
  box-shadow: none;
}

/* Enhanced Features Section */
.features {
  height: 30vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.feature-item {
  flex: 1;
  text-align: center;
  padding: 40px;
  margin: 0 10px;
  background-color: var(--secondary); /* Using secondary color */
  color: var(--text); /* Using text color */
  border-radius: 15px;
  transition: transform 0.2s;
}

.feature-item:hover {
  transform: scale(1.03);
}

.feature-item i {
  font-size: 3em;
  margin-bottom: 20px;
}

/* Enhanced Testimonial Section */
.testimonial {
  background-color: var(--background); /* Using background color */
  padding: 50px;
  margin: 20px 0;
  border-radius: 15px;
}

/* Enhanced Footer Section */
.footer {
  background-color: var(--primary); /* Using primary color */
  color: var(--text); /* Using text color */
  padding: 30px 20px;
  margin: 20px 0;
  border-radius: 15px;
}

/* Adjusted Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: transparent; /* Removing the background color */
  color: var(--text);
  border-radius: 0; /* Removing border-radius */
  margin: 0 auto 20px; /* Ensuring navbar is at the very top */
}

.navbar a {
  color: var(--text);
  margin: 0 15px;
  text-decoration: none;
  transition: color 0.2s;
}

.navbar a:hover {
  color: var(--accent);
}

.navbar .logo {
  font-size: 1.5em;
  font-weight: bold;
}

.camera-box {
  position: relative;
  width: 100%;
  height: 80vh;
  background: var(--background);
  overflow-y: auto; /* Allows for vertical scrolling if content overflows */
  padding: 20px; /* Provide some spacing */
}

/* Horizontal Notches for all corners */
.camera-box::before,
.camera-box::after,
.camera-box span::before,
.camera-box span::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 4px;
  background-color: var(--text);
}

.camera-box::before {
  top: 10px;
  left: 10px;
}

.camera-box::after {
  bottom: 10px;
  right: 10px;
}

.camera-box span::before {
  top: 10px;
  right: 10px;
}

.camera-box span::after {
  bottom: 10px;
  left: 10px;
}

/* Vertical Notches for all corners */
.camera-box > div::before,
.camera-box > div::after,
.camera-box > span > div::before,
.camera-box > span > div::after {
  content: '';
  position: absolute;
  width: 4px;
  height: 20px;
  background-color: var(--text);
}

.camera-box > div::before {
  top: 10px;
  left: 10px;
}

.camera-box > div::after {
  bottom: 10px;
  right: 10px;
}

.camera-box > span > div::before {
  top: 10px;
  right: 10px;
}

.camera-box > span > div::after {
  bottom: 10px;
  left: 10px;
}



/* Device Tile */
.device,
.add-device {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  margin: 15px;
  border-radius: 15px;
  text-align: center;
  font-size: 1em;
  vertical-align: top; /* This will ensure that the tiles are aligned to the top of their line */
}

/* Device Tile */
.device {
  position: relative;
  background: var(--background);
  color: var(--text);
  border: 1px solid var(--secondary);
  transition:
    transform 0.3s,
    box-shadow 0.3s;
  text-decoration: none;
}

.device:hover {
  transform: scale(1.05);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
}

/* Add Button Tile */
.add-device {
  color: var(--text);
  border: 1px solid var(--text);
  transition:
    transform 0.3s,
    box-shadow 0.3s;
  font-size: 2.4rem;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}

.add-device:hover {
  transform: scale(1.05);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
}

.nav-icons {
  display: flex;
  align-items: center;
}

.nav-icon {
  margin: 0 20px;
  color: var(--text);  /* Assuming you have a --text variable for color */
  font-size: 20px;     /* Adjust size as desired */
  text-decoration: none;  /* Remove underlines */
}

.nav-icon:hover {
  color: var(--primary);  /* Assuming you have a --primary variable for a highlight color */
}
